<div class="col-sm-12">
  <div class="panel">
    <div id="edit-account">
      <h2>Edit User</h2>
      <hr>
      {{edit-account-form user=model save=(action 'save') cancel=(action 'cancel')}}
    </div>
  </div>
</div>
