<div class="col-sm-12">
  <div class="panel">
    <div id="forgot-password">
      <h2>Forgot Password</h2>
      <hr />
      <form {{action "forgotPassword" model on="submit"}}>
      {{bootstrap-input
          label="Email"
          value=model.email
          errors=model.errors.email}}
        <div class="save-cancel-buttons">
          <button type="submit" class='btn btn-success' disabled={{isSaving}}>Reset</button>
        </div>
      </form>
      {{#if requestSent}}
        <div>
          <span>Your password request has been sent.</span>
        </div>
      {{/if}}
    </div>
  </div>
</div>
