<div class="eam-content-wrapper">
  <div id="login">
    <h2>Log In</h2>
    <div class="networks">
      {{#each networks as |network|}}
        <button {{action 'signInProvider' network.providerName}}>network.providerName</button>
      {{/each}}
    </div>
  </div>
  {{login-form username=username password=password login=(action 'login')}}
  <div class="help">
    {{#link-to 'forgot-password' class="forgot-password"}}Forget Password?{{/link-to}}
    {{#link-to 'sign-up' class="signup"}}Sign Up{{/link-to}}
  </div>
</div>
