<div class="col-sm-12">
  <div class="panel">
    <div id="signup">
      <h2>Create Account</h2>
      <hr>
      <div class="networks">
        {{#each networks as |network|}}
          <button class="{{network.image}}" {{action 'signInProvider' network.providerName}} />
        {{/each}}
      </div>
      {{signup-form user=model signup=(action 'signup')}}
    </div>
  </div>
</div>
