<div id="forgot-password">
  <h2>Forgot Password</h2>
  <form {{action "forgotPassword" model on="submit"}}>
    <div class="form-group">
      <label for="email">Email</label>
      {{input id="email" type="text" placeholder="Email" value=email}}
    </div>
    <button class="submit button" type="submit">Reset</button>
  </form>
  {{#if requestSent}}
    <div>
      <span>Your password request has been sent.</span>
    </div>
  {{/if}}
</div>
