<div id="forgot-password">
  <h2>Forgot Password</h2>
  <div class="form">
    {{input type="text" name="email" placeholder="Email" value=email}}
    <button class="submit button" {{action 'forgotPassword'}}>Submit</button>
  </div>
  {{#if requestSent}}
    <div>
      <span>Your request has been sent.</span>
    </div>
  {{/if}}
</div>
