<div class="loginWrapper">
  <div id="reset-password">
    <h2>Forgot Password</h2>
    <form {{action "reset" model on="submit"}}>
      <div class="form-group">
        <label for="password">Password</label>
        {{input type="password" name="password" value=password}}
      </div>
      <div class="form-group">
        <label for="passwordConfirmation">Password Confirmation</label>
        {{input type="password" name="passwordConfirmation" value=passwordConfirmation}}
      </div>
      <button class="submit button" type="submit">Submit</button>
    </form>
    {{#if error}}
      <div class="error">
        {{error}}
      </div>
    {{/if}}
  </div>
</div>