<div id="reset-password">
  <h2>Forgot Password</h2>
  <div class="form">
    <div>
      <label for="password">Password</label>
      {{input type="password" name="password" value=password}}
    </div>
    <div>
      <label for="passwordConfirmation">Password Confirmation</label>
      {{input type="password" name="passwordConfirmation" value=passwordConfirmation}}
    </div>
    <button class="submit button" {{action 'reset'}}>Submit</button>
  </div>
  {{#if error}}
    <div class="error">
      {{error}}
    </div>
  {{/if}}
</div>
